<!DOCTYPE html>
<html class="h-full w-full">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="w-full h-full">
    <div class="flex w-full h-full">
      <%- include ('sidebar') %>
      <div class="w-3/4 pt-8 pl-4">
        <h1 class="text-3xl text-red-600">Drivers</h1>

        <div class="flex justify-evenly mt-8">
          <% for (let driver of driver_list) { %>
          <div class="bg-gray-50 shadow-lg p-4 max-w-[25%] min-w-min">
            <p class="text-2xl">Name: <%= driver.name %></p>
            <p class="text-2xl">Age: <%= driver.age %></p>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
