<aside class="w-1/5 bg-red-600 text-white h-full">
  <ul class="ml-4 mt-8">
    <li>
      <a href="/">Teams</a>
    </li>
    <li>Cars</li>
    <li>Drivers</li>
    <li>Team Principals</li>
  </ul>
</aside>
