<aside class="w-1/5 bg-red-600 text-white h-full">
  <ul class="ml-4 mt-8">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/teams">Teams</a>
    </li>
    <li>
      <a href="/car">Car</a>
    </li>
    <li>
      <a href="/driver">Drivers</a>
    </li>
    <li>
      <a href="/teamprincipal">Team Principals</a>
    </li>
  </ul>
  <ul class="ml-4 mt-8">
    <li>
      <a href="/driver/create">Create Driver</a>
    </li>
  </ul>
</aside>
